In [1]:
#Import all libraries:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Read the csv file:
df = pd.read_csv("D:\Dataset files_ML\IPL 2023/deliveries.csv")

In [3]:
df

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.1,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.2,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.3,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.4,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.5,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17858,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.2,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17859,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.3,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17860,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.4,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17861,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.5,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17862,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.6,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Information about data:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17863 entries, 0 to 17862
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   match_id                17863 non-null  int64
 1   season                  17863 non-null  int64
 2   start_date              17863 non-null  object
 3   venue                   17863 non-null  object
 4   innings                 17863 non-null  int64
 5   ball                    17863 non-null  float64
 6   batting_team            17863 non-null  object
 7   bowling_team            17863 non-null  object
 8   striker                 17863 non-null  object
 9   non_striker             17863 non-null  object
 10  bowler                  17863 non-null  object
 11  runs_off_bat            17863 non-null  int64
 12  extras                  17863 non-null  int64
 13  wides                   626 non-null    float64
 14  noballs                 100 non-null    float64
 15  byes                    45 non-null     float64
 16  legbyes                 247 non-null    float64
 17  penalty                 0 non-null      float64
 18  wicket_type             916 non-null    object
 19  player_dismissed        916 non-null    object
 20  other_wicket_type       0 non-null      float64
 21  other_player_dismissed  0 non-null      float64
dtypes: float64(8), int64(5), object(9)
memory usage: 3.0+ MB

In [5]:
df["season"].value_counts()

season
2023    17863
Name: count, dtype: int64

In [6]:
df.drop(columns=["season","penalty","other_wicket_type","other_player_dismissed"], inplace=True)

In [7]:
df["total_runs"] = df["runs_off_bat"]+df["extras"]

In [8]:
df.head()

,match_id,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,wicket_type,player_dismissed,total_runs
0,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.1,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,Mohammed Shami,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.2,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,Mohammed Shami,0,1,NaN,NaN,NaN,1.0,NaN,NaN,1
2,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.3,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,Mohammed Shami,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.4,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,Mohammed Shami,1,0,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.5,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,Mohammed Shami,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0

In [9]:
bowler_wicket = df["wicket_type"].value_counts().index
bowler_wicket = ['caught', 'bowled', 'lbw','caught and bowled', 'stumped', 'hit wicket']

In [10]:
df["bowler_wicket"] = list(map(lambda x: x if x in bowler_wicket else np.nan, df["wicket_type"]))

In [11]:
df.head()

,match_id,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,wicket_type,player_dismissed,total_runs,bowler_wicket
0,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.1,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,Mohammed Shami,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.2,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,Mohammed Shami,0,1,NaN,NaN,NaN,1.0,NaN,NaN,1,NaN
2,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.3,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,Mohammed Shami,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.4,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,Mohammed Shami,1,0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.5,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,Mohammed Shami,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [12]:
df["bowler_wicket"].value_counts()

bowler_wicket
caught               600
bowled               145
lbw                   65
caught and bowled     26
stumped               20
hit wicket             1
Name: count, dtype: int64

In [13]:
df["wicket_type"].value_counts()

wicket_type
caught               600
bowled               145
lbw                   65
run out               55
caught and bowled     26
stumped               20
retired hurt           2
retired out            2
hit wicket             1
Name: count, dtype: int64

In [14]:
df.head()

,match_id,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,wicket_type,player_dismissed,total_runs,bowler_wicket
0,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.1,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,Mohammed Shami,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.2,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,Mohammed Shami,0,1,NaN,NaN,NaN,1.0,NaN,NaN,1,NaN
2,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.3,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,Mohammed Shami,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.4,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,Mohammed Shami,1,0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.5,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,Mohammed Shami,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [15]:
#To find the orange-cap player Name:
orange_cap = df.groupby("striker")["runs_off_bat"].sum()
orange_cap = orange_cap.sort_values(ascending=False)
orange_cap = orange_cap.index[0]
orange_cap

'Shubman Gill'

In [16]:
#To find the purple-cap player name:
purple_cap = pd.crosstab(df["bowler"], df["bowler_wicket"]).T
purple_cap = purple_cap.sum().sort_values(ascending=False).index[0]
purple_cap

'Mohammed Shami'

In [17]:
#To find the Highest score:(HS)
HS_in_one_match = df.groupby(["match_id","striker"])[["runs_off_bat"]].sum()
HS_in_one_match = HS_in_one_match.sort_values(by=["runs_off_bat"], ascending=False)
HS_in_one_match.reset_index(inplace=True)
HS_in_one_match.head()

   match_id       striker  runs_off_bat
0   1370352  Shubman Gill           129
1   1359516   YBK Jaiswal           124
2   1359496       VR Iyer           104
3   1359544  Shubman Gill           104
4   1359539     H Klaasen           104

In [18]:
wickets = ["caught", "bowled", "lbw", "caught and bowled", "stumped", "hit wicket"]

In [19]:
df["total_bowler_wicket"] = list(map(lambda x: 1 if x in  wickets else np.nan, df["wicket_type"]))

In [20]:
#To find Best bowling figure:
best_bowling_figures = df.groupby(["match_id","bowler"])[["runs_off_bat","total_bowler_wicket"]].sum()
best_bowling_figures.reset_index(inplace=True)
best_bowling_figures.sort_values(["total_bowler_wicket","runs_off_bat"], ascending=[False, True], inplace=True)
best_bowling_figures.head()

     match_id          bowler  runs_off_bat  total_bowler_wicket
863   1370351   Akash Madhwal             5                  5.0
882   1370352       MM Sharma            10                  5.0
31    1359477         MA Wood            12                  5.0
746   1359536         B Kumar            30                  5.0
537   1359518  Mohammed Shami            11                  4.0

In [21]:
#To find the Average of best batting player:
best_batting_avg = df.groupby(["match_id","striker"])[["runs_off_bat"]].sum()
best_batting_avg.reset_index(inplace=True)
best_batting_avg.groupby("striker")["runs_off_bat"].mean().sort_values(ascending=False).head()
#best_batting_avg.head()

striker
Vivrant Sharma     69.000000
Shubman Gill       52.352941
F du Plessis       52.142857
V Kohli            45.642857
B Sai Sudharsan    45.250000
Name: runs_off_bat, dtype: float64

In [22]:
df[df["striker"]=="RK Singh"]["runs_off_bat"].sum() / len(df[df["striker"]=="RK Singh"]["match_id"].unique())

33.857142857142854

In [23]:
#Find the Average of best bowling player:
best_bowling_avg = df.groupby(["match_id","bowler"])[["runs_off_bat", "total_bowler_wicket"]].sum().reset_index()
best_bowling_avg = best_bowling_avg.groupby("bowler")["runs_off_bat"].sum() / best_bowling_avg.groupby("bowler")["total_bowler_wicket"].sum()
best_bowling_avg.sort_values(ascending=True).head()

bowler
MA Wood       11.272727
MR Marsh      13.250000
MM Sharma     13.259259
T Stubbs      14.000000
RJW Topley    14.000000
dtype: float64

In [24]:
df.head(3)

,match_id,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,...,extras,wides,noballs,byes,legbyes,wicket_type,player_dismissed,total_runs,bowler_wicket,total_bowler_wicket
0,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.1,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,Mohammed Shami,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
1,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.2,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,Mohammed Shami,...,1,NaN,NaN,NaN,1.0,NaN,NaN,1,NaN,NaN
2,1359475,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.3,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,Mohammed Shami,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN

In [25]:
#Find most Hundred(century(100s)) Runs in IPL 2023:
century = df.groupby(["match_id","striker"])[["runs_off_bat"]].sum().reset_index()
most_century = century[century["runs_off_bat"] >= 100]["striker"].value_counts()
most_century = pd.DataFrame(data=most_century)
most_century

                count
striker
Shubman Gill        3
V Kohli             2
HC Brook            1
VR Iyer             1
YBK Jaiswal         1
SA Yadav            1
P Simran Singh      1
H Klaasen           1
C Green             1

In [26]:
#Find most 50s(Half century) Runs:
half_century = df.groupby(["match_id","striker"])[["runs_off_bat"]].sum().reset_index()
most_fifties = half_century[(half_century["runs_off_bat"] >= 50) & (half_century["runs_off_bat"] <= 100)]["striker"].value_counts()
most_fifties = pd.DataFrame(data=most_fifties)
most_fifties.head()

              count
striker
F du Plessis      8
V Kohli           7
DP Conway         6
DA Warner         6
GJ Maxwell        5

In [27]:
#Find most economical bowler:
x = df[df["match_id"]==1359475]
x.groupby("bowler")["runs_off_bat"].sum() / (x["bowler"].value_counts()/6)

bowler
AS Joseph          8.250000
DL Chahar          7.250000
HH Pandya          9.333333
J Little          10.250000
MJ Santner         8.000000
Mohammed Shami     6.720000
RA Jadeja          7.000000
RS Hangargekar     6.857143
Rashid Khan        6.500000
TU Deshpande      13.363636
Yash Dayal        14.000000
dtype: float64

In [28]:
dummy = df.groupby("bowler")["total_runs"].sum() / (df["bowler"].value_counts()/(6)).sort_index()
dummy.sort_values().head(10)

bowler
A Badoni       0.000000
MW Short       6.000000
Tilak Varma    6.000000
P Dubey        6.000000
D Pretorius    6.214286
R Tewatia      6.428571
J Yadav        6.500000
GD Phillips    6.666667
DJ Willey      6.765957
MJ Santner     6.833333
dtype: float64

In [29]:
#Find five wicket hauls:
df.groupby(["match_id","bowler"])["total_bowler_wicket"].sum().sort_values(ascending=False).head(4)

match_id  bowler
1359536   B Kumar          5.0
1370352   MM Sharma        5.0
1359477   MA Wood          5.0
1370351   Akash Madhwal    5.0
Name: total_bowler_wicket, dtype: float64

In [30]:
#df.groupby(["match_id", "bowler"])["total_bowler_wicket"].sum().sort_values(ascending=False).head(4)

In [31]:
#Most sixes:
sixes = df[df["runs_off_bat"]==6]["striker"].value_counts().head()
sixes

striker
F du Plessis    36
S Dube          35
Shubman Gill    33
GJ Maxwell      31
RD Gaikwad      30
Name: count, dtype: int64

In [32]:
#Most Fours:
Fours = df[df["runs_off_bat"]==4]["striker"].value_counts().head()
Fours

striker
Shubman Gill    85
YBK Jaiswal     83
DP Conway       77
DA Warner       69
V Kohli         65
Name: count, dtype: int64

In [33]:
#Find Most Boundaries in IPL 2023:
most_boundaries = (df[df["runs_off_bat"]==6]["striker"].value_counts().sort_index() + 
                   df[df["runs_off_bat"]==4]["striker"].value_counts()).sort_values(ascending=False)
most_boundaries.head()

striker
Shubman Gill    118.0
YBK Jaiswal     109.0
F du Plessis     96.0
DP Conway        95.0
SA Yadav         93.0
Name: count, dtype: float64